body{
    overflow-y: hidden;
}

.buttonWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-top: 20vh;
}
#PlayNowBTN{
    font-size: 30;
    font-weight: bolder;
    width: 250px;
    margin-bottom: 20px;
}