.titleFlex{
    display: flex;
    justify-content: center;
}
.titleFlex.logoWrapper{
    display: flex;
    justify-content: flex-start;
}
.header{
    display: flex;
    background: linear-gradient(155deg, rgba(117, 26, 26, 1) 0%, rgba(217, 68, 52, 1) 59%, rgba(255, 239, 92, 1) 100%);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header a{
    color: inherit;
    text-decoration: none;
}
.logoLink{
    display: flex;
    align-items: center;
}
.logoLink h1{
    color: white;
    font-size: 3em;
    stroke-width: 20px;
    stroke: black;
}
.navLink{
    color: white;
    font-size: 2em;
    text-decoration: underline;
    cursor: pointer;
}